body{
    
        width: 100%;
        margin: 0;
        padding: 0;
        font-family:'Red Hat Display', sans-serif;;
    
}

header{
	display:block;
	
	position: relative;
	text-align: center;
	border-bottom: 6px solid #C7DEFA;
	width: fit-content, 100%;
	padding-top: 2rem; 
	background-image: url(https://i.ibb.co/NVR4N4V/header-Background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: initial;
	   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
   z-index: 1;
}
header h1,header h2{
	line-height: 2;
letter-spacing: 0.089em;
color: white;
	   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;

}

nav ul{
    list-style-type:none;
	display: grid;
	grid-template-columns: auto auto auto auto;
	width: 370px;
	margin: auto;
	padding: 0;

	
	
}
nav a{
background-color: transparent;
padding-top: 5px;
padding-bottom: 5px;
margin: 0px 5px 10px 5px;
color:white;
text-decoration: none;
/*border-right: 2px solid transparent;
border-left: 2px solid transparent;
*/

}
nav li:after {
	content: '\00bb';
	position: relative;
	opacity: 0;  
	right: 100px;
	transition: 0.5s;
  }
  
  
  
  nav li:hover:after {
	opacity: 1;
	right: 80%;
  }



